@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Oxygen&family=Oxygen+Mono&family=Titillium+Web:wght@600;700&display=swap');
:root {
  --black: #171321;
  --button-color: #365959;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --crimson: "Crimson Pro", serif;
  --titlium: 'Titillium Web', sans-serif;
  --sans: Oxygen, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  font-size: var(--font-size);
}

h2, h3{
  margin: 0;
  font-family: var(--crimson);
}